# Python files
venv
.venv
*.egg-info
uploads
__pycache__/
dist
uv.lock

# Environment variables
.env

public/*
!public/.keep

# IDE files
.vscode
.idea 

# ZEN garden folders
outputs
garden

# Exclude the explorer folder from the root of the project
# It is imported during the build process run upon release
zen_temple/explorer/*
!zen_temple/explorer/index.html

# Exclude build folder
build/
