fastapi
sqlmodel
uvicorn
python-dotenv
pydantic[email]
python-multipart
pytest
python-jose
alembic
types-python-jose
flake8
mypy
numpy<2
pandas-stubs
psycopg2-binary
h5py
pandas
python-multipart
pyarrow
aiofiles
types-aiofiles
pyarrow
-e "/work/garden"
