fastapi
sqlmodel
uvicorn
python-dotenv
python-multipart
pytest
python-jose
alembic
types-python-jose
flake8
mypy
pandas-stubs
psycopg2-binary
h5py
pandas
python-multipart
pyarrow
aiofiles
types-aiofiles
sqlmodel
numpy<2
pydantic
fastapi-cache2
git+ssh://git@github.com/RRE-ETH/ZEN-garden.git